*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    max-width: 1341px;
}
/* nav-bar */
.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.head-text{
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
    color: #131313;
}
.menu-bar ul li{
    list-style: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #424242;
}
ul{
    display: flex;
}
ul li{
    padding: 0px 35px;
}
/* banner-section */
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    text-align: center;
}
.banner-text{
    width: 862px;
    height: 225px;
}
.banner-head{
    font-weight: 700;
    font-size: 50px;
    line-height: 70px;
    color: #131313;
}
.banner-details{
    margin-top: 16px;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #727272;
}
.primary-btn{
    margin-top: 32px;
    width: 180px;
    height: 64px;
    background-color:#FF900E;
    border-style: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}
.banner-img img{
    margin-top: 50px;
    width: 950px;
    height: 440px;
}
/* group-section */
.group{
    margin-top: 130px;
}
.group-main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;  
    padding-left: 160px;
}
.group-img{
    display: grid;
    grid-template-columns: repeat(2, .1fr);
    gap: 18px;
}
.group-img img{
    width: 250px;
    height: 250px;
    border-radius: 8px;
}
.group-details{
    width: 537px;
    height: 304px;
}
.group-head{
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: #727272;
}
.head-span1{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.head-span2{
    font-weight: 700;
    color: #FF900E;
}
.contan{
    margin-top: 24px;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}