*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    max-width: 1341px;
}
/* nav-bar */
.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.head-text{
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
    color: #131313;
}
.menu-bar ul li{
    list-style: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #424242;
}
ul{
    display: flex;
}
ul li{
    padding: 0px 35px;
}
/* banner-section */
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    text-align: center;
}
.banner-text{
    width: 862px;
    height: 225px;
}
.banner-head{
    font-weight: 700;
    font-size: 50px;
    line-height: 70px;
    color: #131313;
}
.banner-details{
    margin-top: 16px;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #727272;
}
.primary-btn{
    margin-top: 32px;
    width: 180px;
    height: 64px;
    background-color:#FF900E;
    border-style: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}
.banner-img img{
    margin-top: 50px;
    width: 950px;
    height: 440px;
}
/* group-section */
.group{
    margin-top: 130px;
}
.group-main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;  
    padding-left: 160px;
}
.group-img{
    display: grid;
    grid-template-columns: repeat(2, .1fr);
    gap: 18px;
}
.group-img img{
    width: 250px;
    height: 250px;
    border-radius: 8px;
}
.group-details{
    width: 537px;
    height: 304px;
}
.group-head{
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: #727272;
}
.head-span1{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.head-span2{
    font-weight: 700;
    color: #FF900E;
}
.contain{
    margin-top: 24px;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
/* details-section */
.details{
    margin-top: 130px;
}
.full-details{
    display: flex;
    justify-content: center;
    align-items: center;
}
.details-text{
    width: 526px;
    height: 982px;
}
.detail-head{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    border-left: 3px solid #FF900E;
    padding-left: 10px;


}
.detail-pera{
    margin-top: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.hole-text{
    margin-top: 30px;
}
.text-details{
    padding: 30px 30px 30px 30px;
}
.h3-head{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
}
.text-detail-pera{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.details-img img{
    width: 520px;
    height: 1050px;
    padding-left: 20px;
    position: relative;
}
.details button{
    text-align: center;
}
.btn2{
    width: 220px;
    height: 130px;
}
.btn3{
    position: absolute;
    margin-top: 1000px;
}
/* some facts-section */
.some{
    margin-top: 150px;
    display: flex;
    justify-content: flex-start;
    padding-left: 170px;
}
.some-head{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}
.some-p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
/* rating-section */
.rating{
    margin-top: 140px;
}
.rate{
    display: flex;
    justify-content: center;
    gap: 65px;
}
.img-rate1{
    width: 220px;
    height: 250px;
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    transition: all 2s;
}
.img-rate1 img{
    width: 45.22px;
    height: 45.22px;
}
.number{
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    color: #424242;
}
.rate-text{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #727272;
}
.img-rate1:hover{
    background-color: #54abcea8;
    transform: rotate(360deg);

}
/* sponspors-section */
.sponspors{
    margin-top: 155px;
}
.sponspors-details{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sponspors-head{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}
.sponspors-p{
    margin-top: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
}
.sponspors-band{
    margin-top: 60px;
}
.band-name{
    display: flex;
    gap: 80px;
    justify-content: center;
}
.band-img{
    width: 160px;
    height: 50px;
    filter: brightness(0);
}
/* footer-section */
.main-footer{
    margin-top: 130px;
    margin-bottom: 250px;
    display: flex;
    justify-content: center;
}
.f-p{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #424242;
}